* {
    padding: 0;
    margin: 0;
}

/*
fr no le da una medida exacta, sino aprovecha el espacio disponible
*/

main {
    height: 100vh;
    display: grid;
    grid-gap: 10px;
    /*grid-template-columns: 300px 1fr 30%*/
    /* la fr tomará el espacio disponible después de haber asignado los demás espacios */
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-rows: 1fr 1fr 1fr;*/
    grid-template-rows: repeat(3, 1fr);
}

main > * {
    background-color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
}

 /*de esta medida para abajo*/

@media (max-width: 992px) {
    main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
}
@media (max-width: 576px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
    }
}