* {
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    grid-gap: 10px;
    margin: 20px 0;
}

section div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.auto-fill div {
    background-color: teal;
    color: white;
}

.auto-fit div {
    background-color: brown;
    color: white;
}

.auto-fill {
    /* auto-fill nos permite que los elementos que pasen el limite, caigan uno con otro */
    /* auto-fill: autogeneral más bloques para completar el layout completo */
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.auto-fit {
    /* auto-fit nos permite que los elementos encajen sin importar su contenido */
    /* solo bajara el elemento cuando su tamaño sea como minimo 99px, 100px caben */
    /* lo que hace es expandir esos bloques hasta completar la panatalla completa en partes iguales */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}